#card-container{
    border-radius: 5px;
    width: 38%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: rgb(55, 56, 62);
}

#img-container{
    width: 40%;
}

#info-container{
    width: 58%;
    display: flex;
    flex-flow: wrap column;
}

#status-container{
    width: 30%;
    position: absolute;
    margin-top: 3px;
}

#species-container{
    margin-left: 20px;
}

#Alive{
    background-color: rgb(44, 202, 44);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#Dead{
    background-color: rgb(227, 78, 78);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
}

#unknown{
    background-color: rgb(189, 185, 185);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
}